doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title AEK - Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none CV
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Ahmet Emre 
                        span.text-primary Kiratli
                    //- .subheading.mb-5
                    //-     | Ankara, Turkey |  
                    //-     a(href='mailto:name@emre719@gmail.com') emre719@gmail.com
                    p.lead.mb-5
                        | A self learner who is always eager to learn. Passionate about software architecture and blockchain technology. Sharpened with DevOps, excelled in blockchain .
                    .social-icons

                        a.social-icon(href='https://www.linkedin.com/in/ahmet-emre-kiratli/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/aekiratli')
                            i.fab.fa-github
                        a.social-icon(href='https://stackoverflow.com/users/11370347/aekiratli')
                            i.fab.fa-stack-overflow
                        a.social-icon(href='https://www.facebook.com/aekd2/')
                            i.fab.fa-facebook-f
                        a.social-icon(href='mailto:emre719@gmail.com')
                            i.fab.fa-google
            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Blockchain Dapp Developer
                            .subheading.mb-3 Freelance
                            p
                                | Derived from DevOps path. Skilled in writing smart contracts and building frontend for dapps. Mostly working with Ethereum and BSC network. Good knowledge about ERC20 and ERC721 standarts. I love working with DeFi and NFT minting projects.
                            h5.mb-0
                                | Keywords: Solidity, React.js, Web3.js
                        .flex-shrink-0
                            span.text-primary February 2021 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 DevOps Engineer
                            .subheading.mb-3 Demiroren Tech
                            p
                                | Decided to move on with DevOps career path. Managed continuous integration and deployment for iddaa.com and cnnturk.com. Maintained and developed the system components such as Kubernetes, nonSQL databases, AWS, GCP, Octopus, TeamCity for better automation. Written complex Bash/Python scripts when tools did not meet requirements.
                            h5.mb-0
                                | Keywords: Kubernetes, Jira, Octopus, TeamCity, GCP
                        .flex-shrink-0
                            span.text-primary May 2020 - April 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 System Engineer & Data Analyst
                            .subheading.mb-3 Business Intelligence Bridge
                            p
                                | Mostly built the system components and maintained them for the team. While doing so I was also responsible from the gathering insights from the data.
                            h5.mb-0
                                | Keywords: Docker, Arduino, R, Python
                        .flex-shrink-0
                            span.text-primary March 2019 - March 2020

                    
            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Hacettepe
                            .subheading.mb-3 Bachelor of Statistics
                            p GPA: 3.14
                        .flex-shrink-0
                            span.text-primary 2015 - 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 universidade nova de lisboa
                            .subheading.mb-3 Information Management System
                            div Erasmus+
                            p GPA: 13/20
                        .flex-shrink-0
                            span.text-primary September 2017 - February 2018

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Core Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-ethereum
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-r-project
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            img(src='assets/img/kubernetes.png', alt='...')
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Web-First Mobile-Second, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            |  Agile Development & Scrum
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Eager to Learn New Tech

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a developer, I enjoy most of my time being outdoors in the nature, camping and hiking. I have a passion about motorcycles, currently riding a Triumph Tiger
                    p.mb-0
                        | When forced indoors, I like to play table-tennis with friends, I spend a large amount of my free time exploring the latest technology advancements in the blockchain and web development world.

            hr.m-0

            //- // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Awards & Certifications
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Google Analytics Certified Developer
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Mobile Web Specialist - Google Certification
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2009
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 2
            //-                 sup nd 
            //-                 | Place - University of Colorado Boulder - Emerging Tech Competition 2008
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 1
            //-                 sup st 
            //-                 | Place - James Buchanan High School - Hackathon 2006
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | 3
            //-                 sup rd 
            //-                 | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
